html {
  font-size: 100%;
  overflow-x: hidden;
}
body {
  --text-size-80: 0.563rem;
  --text-size-90: 0.75rem;
  --text-size-100: 1rem;
  --text-size-200: 1.333rem;
  --text-size-300: 1.777rem;
  --text-size-400: 2.369rem;
  --text-size-500: 3.157rem;
  --text-size-600: 4.209rem;
  --text-size-700: 5.61rem;
  font-family: "Satoshi", sans-serif;
  font-weight: 500;
  line-height: 1.6;
  color: #1e3a8a;
  background: #bfdbfe;
  overflow-x: hidden;
}

a {
  color: inherit;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin-top: 2.25rem;
  margin-bottom: 1rem;
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: -0.022em;
}
p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
small {
  font-size: var(--text-size-90);
}
h6,
.h6 {
  font-size: var(--text-size-200);
}
h5,
.h5 {
  font-size: var(--text-size-300);
}
h4,
.h4 {
  font-size: var(--text-size-400);
}
h3,
.h3 {
  font-size: var(--text-size-500);
}
h2,
.h2 {
  font-size: var(--text-size-600);
}
h1,
.h1 {
  font-size: var(--text-size-700);
}
.text-size-80 {
  font-size: var(--text-size-80);
}
.text-size-90 {
  font-size: var(--text-size-90);
}
.text-size-100 {
  font-size: var(--text-size-100);
}
.text-size-200 {
  font-size: var(--text-size-200);
}
.text-size-300 {
  font-size: var(--text-size-300);
}
.text-size-400 {
  font-size: var(--text-size-400);
}
.text-size-500 {
  font-size: var(--text-size-500);
}
.text-size-600 {
  font-size: var(--text-size-600);
}
.text-size-700 {
  font-size: var(--text-size-700);
}

#navbar,
#services-navbar,
#about-navbar,
#instructor-navbar,
#contact-navbar {
  opacity: 0;
}

#hero,
#services-header,
#services-header-pic,
#about-header,
#instructor-header,
#brandon,
#contact-header,
#contact-card {
  opacity: 0;
}

.navbar {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.625rem;
  font-weight: 700;
}

.navbar a {
  text-decoration: none;
}

.contact button {
  background: none;
  border: #1e40af solid 2px;
  border-radius: 35px;
  cursor: pointer;
  outline: none;
  font-size: 1.625rem;
  color: inherit;
  padding: 0.625rem 1.25rem;
  font-weight: 700;
}

.logo {
  margin-top: 1.25rem;
  margin-left: 2.188rem;
}

.nav-list {
  display: flex;
  margin-top: 30px;
  gap: 1.5em;
}

.contact {
  margin-top: 20px;
  margin-right: 35px;
}

.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 110vh;
  width: 100%;
  margin: auto;
}

.hero-header {
  font-family: "Clash Display", sans-serif;
  font-weight: 800;
  margin-top: 30px;
}

.hero-header h1 {
  font-size: 16.25rem;
}

.hero-detail {
  line-height: 1.2;
  margin: -30px 40px;
}

.hero-detail p {
  font-size: 46px;
  font-weight: 301;
}

.hero-pic {
  height: 110vh;
  max-width: 100%;
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

figcaption {
  width: 100%;
  font-size: 26px;
}

.hero-pic a {
  text-decoration-thickness: 0.5px;
  font-weight: 700;
  margin-left: 40px;
}

.gallery {
  width: 100%;
  height: 150vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 45px;
}

.left-pic {
  width: 50%;
  height: 80%;
  display: flex;
  flex-direction: column;
  padding: 0;
}

.left-pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.left-pic a {
  text-decoration-thickness: 0.5px;
  font-weight: 700;
  margin-left: 20px;
}

.right-pic {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0;
}

.right-pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.right-pic a {
  text-decoration-thickness: 0.5px;
  font-weight: 700;
  margin-left: 10px;
}

.about-us-container {
  width: 93%;
  height: 120vh;
  display: flex;
  margin: auto;
  background-color: #fcd34d;
  margin-top: 70px;
  border-radius: 20px;
}

.about-left-container {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about-right-container {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.about-us-header {
  font-family: "Clash Display", sans-serif;
  font-weight: 800;
  margin-top: 30px;
  margin-left: 30px;
  text-align: center;
}

.about-us-header h2 {
  font-size: 130px;
  color: #262626;
}

.about-us-details {
  line-height: 1.2;
  margin: 0 40px;
}

.about-us-details p {
  font-size: 26px;
  color: #262626;
}

.about-us-button button {
  margin-bottom: 30px;
  margin-left: 40px;
  background: none;
  border: #262626 solid 2px;
  border-radius: 35px;
  cursor: pointer;
  outline: none;
  font-size: 26px;
  color: inherit;
  padding: 15px 40px;
  font-weight: 700;
}

.about-us-button a {
  text-decoration: none;
  color: #262626;
  font-size: 20px;
}

.about-right-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-right-container img {
  display: flex;
  justify-content: center;
  max-height: 90%;
  max-width: 90%;
  border-radius: 20px;
}

.quote-container {
  width: 93%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: auto;
  background-color: #f472b6;
  border-radius: 20px;
  margin-top: 40px;
}

.quote-header-container {
  font-family: "Satoshi", sans-serif;
  font-weight: 800;
  margin-top: 30px;
  margin-left: 30px;
}

.quote-header-container h2 {
  font-size: 130px;
  color: #fafafa;
}

.quote-details-container {
  line-height: 1.2;
  margin: 0 50px;
  font-weight: 800;
}

.quote-details-container p {
  font-size: 46px;
  color: #fafafa;
}

.quote-details-name-container {
  line-height: 1.2;
  margin: 0 50px;
  font-weight: 800;
  margin-bottom: 50px;
}

.quote-details-name-container p {
  font-size: 26px;
  color: #fafafa;
}

.footer-container {
  width: 93%;
  height: 160vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: auto;
  background-color: #1e3a8a;
  border-radius: 20px;
  margin-top: 40px;
  color: #fafafa;
  margin-bottom: 35px;
}

.footer-header {
  font-family: "Clash Display", sans-serif;
  font-weight: 800;
  text-align: center;
}

.footer-header h1 {
  font-size: 240px;
  margin-top: -15px;
}

.footer-second-container {
  display: flex;
  height: 100%;
}

.footer-left-container {
  width: 50%;
  height: 100%;
  display: flex;
}

.sub-menu-left {
  display: flex;
  flex-direction: column;
  margin-left: 60px;
}

.sub-menu-left h4 {
  font-size: 46px;
  font-weight: 700;
}

.sub-menu-left a {
  color: #fafafa;
  font-size: 26px;
  text-decoration-thickness: 0.5px;
  font-weight: 700;
}

.sub-menu-right {
  display: flex;
  flex-direction: column;
  margin-left: 80px;
}

.sub-menu-right h4 {
  font-size: 46px;
  font-weight: 700;
}

.sub-menu-right a {
  color: #fafafa;
  font-size: 26px;
  text-decoration-thickness: 0.5px;
  font-weight: 700;
}

.footer-right-container {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}

.footer-right-container h4 {
  font-size: 46px;
  font-weight: 700;
}

.footer-right-container p {
  font-size: 26px;
  font-weight: 700;
  line-height: 0.5em;
}

label {
  font-size: 26px;
  font-weight: 700;
}

input {
  width: 90%;
  height: 70px;
  border-radius: 50px;
  border: none;
  outline: none;
  margin-bottom: 20px;
  padding-left: 10px;
  font-size: 46px;
  font-weight: 700;
  font-family: "Satoshi", sans-serif;
}

textarea {
  width: 90%;
  height: 200px;
  border: none;
  outline: none;
  margin-bottom: 20px;
  padding-left: 10px;
  font-size: 46px;
  font-weight: 700;
  font-family: "Satoshi", sans-serif;
}

form button {
  background: none;
  border: #fafafa solid 2px;
  border-radius: 35px;
  cursor: pointer;
  outline: none;
  font-size: 20px;
  color: inherit;
  margin-top: 15px;
  padding: 12px 20px;
  font-weight: 700;
}

/*SERVICE PAGE*/

.services-header {
  display: flex;
  width: 100%;
  height: 40vh;
}

.services-left-header {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  margin: 30px 40px;
}

.services-left-header h1 {
  font-size: 130px;
  font-weight: 800;
}

.services-right-header {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 45px 30px 0 20px;
  line-height: 2em;
}

.services-right-header p {
  font-size: 26px;
  font-weight: 800;
}

.services-header-pic {
  height: 100vh;
  max-width: 100%;
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.services-header-pic img {
  width: 95%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  margin: auto;
}

.card-4-container {
  width: 95%;
  min-height: 95vh;
  display: flex;
  margin: auto;
  background-color: #fcd34d;
  border-radius: 20px;
  margin-top: 40px;
}

.card-2-container {
  width: 95%;
  min-height: 95vh;
  display: flex;
  margin: auto;
  background-color: #6ee7b7;
  border-radius: 20px;
  margin-top: 40px;
}

.card-3-container {
  width: 95%;
  min-height: 95vh;
  display: flex;
  margin: auto;
  background-color: #f9a8d4;
  border-radius: 20px;
  margin-top: 40px;
}

.card-1-left {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-1-left-header {
  width: 100%;
  height: 20%;
  display: flex;
  margin: 35px 30px 0 20px;
}

.card-1-left h2 {
  font-size: 110px;
  font-weight: 800;
  margin-top: 30px;
  margin-left: 30px;
}

.card-1-right {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.card-1-right-header {
  width: 100%;
  height: 20%;
  display: flex;
  margin: 35px 30px 30px 0;
}

.card-1-right-header h4 {
  font-size: 46px;
  font-weight: 800;
  margin: 45px 60px 0 0;
}

.card-1-right-menu {
  width: 92%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 40px;
}

.card-1-right-menu li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  cursor: pointer;
  font-size: 26px;
  border-top: #fafafa solid 2px;
}

.card-1-right-menu li .symbol {
  font-size: 56px;
}

.card-1-right-menu p {
  display: none;
  margin: 0 20px 90px 20px;
  font-size: 26px;
}

.card-1-right-menu p.open {
  display: block;
}
/* INSTRUCTORS PAGE*/

#instructor-body {
  background-color: #1e40af;
}

.navbar-instructor {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 26px;
  font-weight: 700;
  color: #bfdbfe;
}

.navbar-instructor a {
  text-decoration: none;
}

.contact-instructor button {
  background: none;
  border: #bfdbfe solid 2px;
  border-radius: 35px;
  cursor: pointer;
  outline: none;
  font-size: 26px;
  color: inherit;
  padding: 10px 20px;
  font-weight: 700;
}

.logo-instructor {
  margin-top: 20px;
  margin-left: 35px;
}

.nav-list-instructor {
  display: flex;
  margin-top: 30px;
  gap: 1.5em;
}

.contact-instructor {
  margin-top: 20px;
  margin-right: 35px;
}

.services-header-instructor {
  display: flex;
  width: 100%;
  height: 40vh;
  color: #bfdbfe;
}

.services-left-header-instructor {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  margin: 30px 40px;
}

.services-left-header-instructor h1 {
  font-size: 130px;
  font-weight: 800;
}

.services-right-header-instructor {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 45px 30px 0 20px;
  line-height: 2em;
}

.services-right-header-instructor p {
  font-size: 26px;
  font-weight: 800;
}

.instructor-details-container {
  width: 100%;
}

.instructor-details-bio {
  margin: 40px 35px 90px 60px;
  color: #bfdbfe;
}

.instructor-details-bio h4 span {
  color: #fdfdfd;
}

.footer-container-instructor {
  width: 93%;
  height: 160vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: auto;
  background-color: #bfdbfe;
  border-radius: 20px;
  margin-top: 40px;
  color: #1e3a8a;
  margin-bottom: 35px;
}

.footer-header-instructor {
  font-family: "Clash Display", sans-serif;
  font-weight: 800;
  text-align: center;
}

.footer-header-instructor h1 {
  font-size: 16.25rem;
  margin-top: -15px;
}

.footer-second-container-instructor {
  display: flex;
  height: 100%;
}

.footer-left-container-instructor {
  width: 50%;
  height: 100%;
  display: flex;
}

.sub-menu-left-instructor {
  display: flex;
  flex-direction: column;
  margin-left: 60px;
}

.sub-menu-left-instructor h4 {
  font-size: 46px;
  font-weight: 700;
}

.sub-menu-left-instructor a {
  color: #1e3a8a;
  font-size: 26px;
  text-decoration-thickness: 0.5px;
  font-weight: 700;
}

.sub-menu-right-instructor {
  display: flex;
  flex-direction: column;
  margin-left: 80px;
}

.sub-menu-right-instructor h4 {
  font-size: 46px;
  font-weight: 700;
}

.sub-menu-right-instructor a {
  color: #1e3a8a;
  font-size: 26px;
  text-decoration-thickness: 0.5px;
  font-weight: 700;
}

.footer-right-container-instructor {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}

.footer-right-container-instructor h4 {
  font-size: 46px;
  font-weight: 700;
}

.footer-right-container-instructor p {
  font-size: 26px;
  font-weight: 700;
  line-height: 0.5em;
}

label {
  font-size: 26px;
  font-weight: 700;
}

input {
  width: 90%;
  height: 70px;
  border-radius: 50px;
  border: none;
  outline: none;
  margin-bottom: 20px;
  padding-left: 10px;
  font-size: 46px;
  font-weight: 700;
  font-family: "Satoshi", sans-serif;
}

textarea {
  width: 90%;
  height: 200px;
  border: none;
  outline: none;
  margin-bottom: 20px;
  padding-left: 10px;
  font-size: 46px;
  font-weight: 700;
  font-family: "Satoshi", sans-serif;
}

.footer-right-container-instructor form button {
  background: none;
  border: #1e3a8a solid 2px;
  border-radius: 35px;
  cursor: pointer;
  outline: none;
  font-size: 20px;
  color: inherit;
  margin-top: 15px;
  padding: 12px 20px;
  font-weight: 700;
}
/* ABOUT SECTION*/
#about-body {
  background-color: #ef4444;
  color: #f4f1e0;
}

.contact-about {
  margin-top: 20px;
  margin-right: 35px;
}

.contact-about button {
  background: none;
  border: #d9f99d solid 2px;
  border-radius: 35px;
  cursor: pointer;
  outline: none;
  font-size: 26px;
  color: #d9f99d;
  padding: 10px 20px;
  font-weight: 700;
}

.about-page-container {
  width: 93%;
  height: 120vh;
  display: flex;
  margin: auto;
  margin-top: 30px;
  border-radius: 20px;
  color: #f4f1e0;
}

.about-page-left-container {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.about-page-right-container {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.about-page-us-header {
  font-weight: 800;
}

.about-page-us-header h2 {
  font-size: 130px;
}

.about-page-us-details {
  line-height: 1.2;
}

.about-page-us-details p {
  font-size: 26px;
}

.about-page-us-button button {
  margin-bottom: 30px;
  background: none;
  border: #f4f1e0 solid 2px;
  border-radius: 35px;
  cursor: pointer;
  outline: none;
  font-size: 26px;
  color: inherit;
  padding: 15px 40px;
  font-weight: 700;
}

.about-page-us-button a {
  text-decoration: none;
  font-size: 20px;
}

.about-page-right-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-page-right-container img {
  display: flex;
  justify-content: center;
  height: 90%;
  border-radius: 20px;
}

.about-card-5-container {
  width: 95%;
  min-height: 95vh;
  display: flex;
  margin: auto;
  background-color: #a3e635;
  border-radius: 20px;
  margin-top: 40px;
}

.about-card-1-left {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about-card-1-left-header {
  width: 100%;
  height: 20%;
  display: flex;
  margin: 35px 30px 0 20px;
}

.about-card-1-left h2 {
  font-size: 110px;
  font-weight: 800;
  margin-top: 30px;
  margin-left: 30px;
}

.about-card-1-right {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.about-card-1-right-header {
  width: 100%;
  height: 20%;
  display: flex;
  margin: 35px 30px 30px 0;
}

.about-card-1-right-header h4 {
  font-size: 46px;
  font-weight: 800;
  margin: 45px 60px 0 0;
}

.about-card-1-right-menu {
  width: 92%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 40px;
}

.card-1-right-menu li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  cursor: pointer;
  font-size: 26px;
  border-top: #fafafa solid 2px;
}

.card-1-right-menu li .symbol {
  font-size: 56px;
}

.about-card-1-right-menu p {
  display: none;
  margin: 0 20px 90px 20px;
  font-size: 26px;
}

.about-card-1-right-menu p.open {
  display: block;
}

.footer-container-about {
  width: 93%;
  height: 160vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: auto;
  background-color: #262626;
  border-radius: 20px;
  margin-top: 40px;
  color: #f4f1e0;
  margin-bottom: 35px;
}

.footer-header-about {
  font-family: "Clash Display", sans-serif;
  font-weight: 800;
  text-align: center;
}

.footer-header-about h1 {
  font-size: 240px;
  margin-top: -15px;
}

.footer-second-container-about {
  display: flex;
  height: 100%;
}

.footer-left-container-about {
  width: 50%;
  height: 100%;
  display: flex;
}

.sub-menu-left-about {
  display: flex;
  flex-direction: column;
  margin-left: 60px;
}

.sub-menu-left-about h4 {
  font-size: 46px;
  font-weight: 700;
}

.sub-menu-left-about a {
  color: #f4f1e0;
  font-size: 26px;
  text-decoration-thickness: 0.5px;
  font-weight: 700;
}

.sub-menu-right-about {
  display: flex;
  flex-direction: column;
  margin-left: 80px;
}

.sub-menu-right-about h4 {
  font-size: 46px;
  font-weight: 700;
}

.sub-menu-right-about a {
  color: #f4f1e0;
  font-size: 26px;
  text-decoration-thickness: 0.5px;
  font-weight: 700;
}

.footer-right-container-about {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}

.footer-right-container-about h4 {
  font-size: 46px;
  font-weight: 700;
}

.footer-right-container-about p {
  font-size: 26px;
  font-weight: 700;
  line-height: 0.5em;
}

label {
  font-size: 26px;
  font-weight: 700;
}

input {
  width: 90%;
  height: 70px;
  border-radius: 50px;
  border: none;
  outline: none;
  margin-bottom: 20px;
  padding-left: 10px;
  font-size: 46px;
  font-weight: 700;
  font-family: "Satoshi", sans-serif;
}

textarea {
  width: 90%;
  height: 200px;
  border: none;
  outline: none;
  margin-bottom: 20px;
  padding-left: 10px;
  font-size: 46px;
  font-weight: 700;
  font-family: "Satoshi", sans-serif;
}

.footer-right-container-about form button {
  background: none;
  border: #f4f1e0 solid 2px;
  border-radius: 35px;
  cursor: pointer;
  outline: none;
  font-size: 20px;
  color: inherit;
  margin-top: 15px;
  padding: 12px 20px;
  font-weight: 700;
}

.connect-header {
  display: flex;
  width: 100%;
  height: 40vh;
}

.connect-left-header {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  margin: 30px 40px;
}

.connect-left-header h1 {
  font-size: 130px;
  font-weight: 800;
}

.connect-right-header {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 45px 30px 0 20px;
  line-height: 2em;
}

.connect-right-header p {
  font-size: 24px;
  font-weight: 800;
}

.contact-card-container {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: auto;
  color: #bfdbfe;
  border-radius: 20px;
  background-color: #1e3a8a;
  margin-bottom: 35px;
  margin-top: 40px;
}

.contact-card-inside-container {
  margin: 20px 45px;
  width: 100%;
}

.name-container {
  display: flex;
  margin-top: 25px;
}

.first-name {
  width: 47%;
}

.last-name-container {
  width: 47%;
}

.contact-card-text {
  margin-bottom: 90px;
}

.footer-left-container-contact {
  width: 100%;
  height: 60vh;
  display: flex;
  margin: 40px 0 0 120px;
}

.sub-menu-left-contact {
  display: flex;
  flex-direction: column;
}

.sub-menu-left-contact h4 {
  font-size: 46px;
  font-weight: 700;
}

.sub-menu-left-contact a {
  color: #1e3a8a;
  font-size: 26px;
  text-decoration-thickness: 0.5px;
  font-weight: 700;
}

.sub-menu-right-contact {
  display: flex;
  flex-direction: column;
  margin-left: 80px;
}

.sub-menu-right-contact h4 {
  font-size: 46px;
  font-weight: 700;
}

.sub-menu-right-contact a {
  color: #1e3a8a;
  font-size: 26px;
  text-decoration-thickness: 0.5px;
  font-weight: 700;
}

.bottom-footer {
  display: flex;
  justify-content: space-between;
  width: 95%;
  height: 5%;
  margin: auto;
}

.bottom-footer p {
  font-weight: 800;
  font-size: 20px;
}

.bottom-footer a {
  text-decoration: none;
}

@media screen and (max-width: 1340px) {
  .hero-header h1 {
    font-size: 15.25rem;
  }

  .about-us-header h2 {
    font-size: 6.125rem;
  }

  .footer-header h1 {
    font-size: 14.25rem;
  }
}
/*MOBILE SCREEEEEEEEEEENS*/

@media screen and (max-width: 481px) {
  .navbar {
    display: block;
  }

  .logo {
    font-size: 1.2rem;
    font-weight: 800;
    margin-left: 1.18rem;
  }

  .nav-list {
    visibility: hidden;
  }
  .contact {
    visibility: hidden;
  }

  .hero-container {
    height: auto;
  }

  .hero-header {
    margin-top: auto;
  }

  .hero-header h1 {
    font-size: 4.75rem;
  }

  .hero-detail {
    margin-left: 7%;
  }

  .hero-detail p {
    font-weight: 800;
    font-size: 1.8rem;
  }

  .about-us-details {
    margin: 0 9%;
  }

  .hero-pic a {
    margin: auto;
  }

  .hero-pic {
    height: 70vh;
  }

  .gallery {
    height: auto;
    flex-direction: column;
  }

  .left-pic {
    width: auto;
  }

  .left-pic a {
    margin: auto;
  }

  .right-pic {
    width: auto;
  }

  .right-pic a {
    margin: auto;
  }

  .about-us-container {
    flex-direction: column;
    height: 100%;
  }

  .about-us-header {
    margin-left: 0;
  }

  .about-left-container {
    width: 100%;
  }

  .about-us-header h2 {
    font-size: 4rem;
  }

  .about-us-button {
    display: flex;
    justify-content: center;
  }

  .about-us-button button {
    margin: 5% 0;
  }

  .about-right-container {
    width: 100%;
  }

  .about-right-container img {
    margin: 9% 0;
  }

  .quote-container {
    height: 100%;
  }

  .quote-header-container {
    margin-left: 0;
    text-align: center;
  }

  .quote-header-container h2 {
    font-size: 3.5rem;
  }

  .quote-details-container {
    margin: 0 7%;
  }

  .quote-details-container p {
    font-size: 2rem;
  }

  .quote-details-name-container {
    margin-left: 7%;
    margin-bottom: 12%;
  }

  .footer-container {
    height: 100%;
  }

  .footer-header h1 {
    font-size: 4rem;
    margin-top: 5%;
  }

  .footer-second-container {
    flex-direction: column;
  }

  .footer-right-container {
    width: 100%;
  }

  .footer-left-container {
    width: 100%;
    flex-direction: column;
  }

  .sub-menu-left {
    margin-left: 9%;
  }

  .sub-menu-right {
    margin-left: 9%;
  }

  .footer-right-container h4 {
    margin-left: 9%;
  }

  .footer-right-container p {
    line-height: normal;
    margin-left: 9%;
    font-size: 1rem;
  }

  form {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    margin-bottom: 20%;
  }
}
